In [1]:
import pandas as pd

In [3]:
asmDf=pd.read_csv("picked_assembly_summary.csv")
asmDf.head()

,asm_name,assembly_accession,domain,ftp_basename,ftp_path,organism_name,taxid
0,ASM2238v1,GCF_000022385.1,archaea,GCF_000022385.1_ASM2238v1,ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000...,Sulfolobus islandicus L.S.2.15,429572
1,ASM97008v1,GCF_000970085.1,archaea,GCF_000970085.1_ASM97008v1,ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000...,Methanosarcina siciliae T4/M,1434120
2,ASM734v1,GCF_000007345.1,archaea,GCF_000007345.1_ASM734v1,ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000...,Methanosarcina acetivorans C2A,188937
3,ASM35030v1,GCF_000350305.1,archaea,GCF_000350305.1_ASM35030v1,ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000...,Thermoplasmatales archaeon BRNA1,1054217
4,ASM96990v1,GCF_000969905.1,archaea,GCF_000969905.1_ASM96990v1,ftp://ftp.ncbi.nlm.nih.gov/genomes/all/GCF/000...,Methanosarcina vacuolata Z-761,1434123

In [15]:
names_lst=[str(i) for i in range(14)]
names_lst[0]="taxid"
names_lst[6]="genetic_code"

#names_lst=["tax_id", "parent tax_id", "rank", "embl code", "division id", "inherited div flag" "genetic code id", "inherited GC flag", "mitochondrial genetic code id", "inherited MGC flag", "GenBank hidden flag", "hidden subtree root flag", "comments"]
taxDf=pd.read_csv("~/data/taxonomy/nodes.processed",names=names_lst)
#taxDf=pd.read_csv("~/data/taxonomy/nodes.processed",header=None)
taxDf.head()

,taxid,1,2,3,4,5,genetic_code,7,8,9,10,11,12,13
0,1,1,no rank,NaN,8,0,1,0,0,0,0,0,NaN,NaN
1,2,131567,superkingdom,NaN,0,0,11,0,0,0,0,0,NaN,NaN
2,6,335928,genus,NaN,0,1,11,1,0,1,0,0,NaN,NaN
3,7,6,species,AC,0,1,11,1,0,1,1,0,NaN,NaN
4,9,32199,species,BA,0,1,11,1,0,1,1,0,NaN,NaN

In [17]:
outDf=pd.merge(asmDf, taxDf[["taxid","genetic_code"]],on="taxid",how="left")

In [19]:
outDf.to_csv("picked_assembly_summary_code.csv",index=False)